

@mixin disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width:500.5px) {
  .bli_info_img img {
    max-width: 30% !important;
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 767.5px) {
  .bli_info_img img {
    max-width: 45% !important;
  }
}

@media screen and (max-width:509.5px) {
  .cart_explore_box {
    height: 230px !important;
    width: 340px !important;
  }
  .cart_box_img img {
    width: 65% !important;
    height: 90% !important;
  }
  .cart_box_title {
    margin-top: -5px !important;
    width: 300px !important;
    height: 33px !important;
    font-size: 18px !important;
  }
  .cart_box_button {
    width: 250px !important;
    margin-top: 5px !important;
    height: 35px !important;
    font-size: 14px !important
  }
}

@media screen and (min-width:991.5px) and (max-width:1199.5px) {
  .box_list_item {
    border: 4px solid #fff !important;
  }
}

@media screen and (max-width:991.5px) {
  .csi_right {
    display: none !important;
  }
  .bli_info_price {
    padding-left: 23px !important;
  }
  .cart_header_txt:before {
    width: 100% !important;
  }
}

@media screen and (max-width:1009.5px) {
  #emptycart_sec_box,
  #emptycart_third_box,
  #emptycart_fourth_box {
    border-left: none !important;
  }
}

.cart_container {
  position: relative;
  display: block;
  min-height: 450px;
  overflow-x: hidden;
  font-family: azo-sans-web, 'Qanelas';
}

.cart_header_txt {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 20px;
}

.cart_header_txt:before {
  content: "";
  position: absolute;
  width: 62%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #D4D4D4;
}

.cart_header_txt_fullunderline {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  padding-bottom: 20px;
}

.cart_header_txt_fullunderline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #D4D4D4;
}

.cart_no_items {
  font-size: 20px;
  width: 27px;
  height: 27px;
  line-height: 26px;
  margin-left: 8px;
  display: inline-block;
  text-align: center;
  background-color: #304BCF;
  color: #fff;
  border-radius: 3px;
}

.cart_wrap_emptycart {
  display: block;
  min-height: 350px;
  overflow: hidden;
  margin-top: 20px;
  padding: 0 10px 25px 10px;
}

.cart_emptycart_txt {
  font-size: 25px;
}

.cart_exploreprod_txt {
  font-size: 17px;
}

.cart_wrap_explore {
  display: block;
  min-height: 300px;
  margin-top: 30px;
  padding: 20px 40px 40px 40px;
}

.cart_explore_box {
  position: relative;
  min-height: 255px;
  width: 250px;
  display: inline-block;
  margin: 5px 10px 0 0;
  color: #000;
  padding: 10px;
  transition: 0.2s ease-in;
}

.cart_explore_box:hover .cart_box_img img {
  transform: scale(1.05);
}

.cart_explore_box a {
  color: inherit;
  text-decoration: none;
}

.cart_box_img {
  display: block;
  position: relative;
  width: 230px;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

.cart_box_img img {
  width: 75%;
  height: 105%;
  margin: 0;
  transition: 0.3s ease-in;
  @include disable-select;
}

.cart_box_title {
  position: relative;
  display: block;
  height: 57px;
  width: 225px;
  margin-top: 15px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.cart_box_button {
  display: block;
  height: 40px;
  width: 230px;
  border: 1px solid #000;
  background-color: none;
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 500ms, border-color 1ms, opacity 500ms;
  @include disable-select;
}

.cart_box_button:hover {
  background-color: rgba(28, 30, 32, .95);
  color: #fff;
}

.cart_exp_line {
  position: absolute;
  display: block;
  border-top: 1px solid #D4D4D4;
  bottom: 5px;
}

#emptycart_first_box {
  border: none !important;
}

#emptycart_sec_box,
#emptycart_third_box,
#emptycart_fourth_box {
  border-left: 1px solid rgba(28, 30, 32, .4);
}


/* --------- No empty cart --------- */

.cart_wrap_noemptycart {
  display: block;
  min-height: 350px;
  margin: 20px 0 20px 0;
}

.cart_show_items {
  display: block;
  min-height: 300px;
}

.cart_checkout_items {
  display: block;
  min-height: 300px;
}

.csi_row {
  height: 35px;
  position: relative;
  font-weight: bold;
  color: #AEAEAE;
}

.csi_r_f {
  position: relative;
}

.csi_right {
  display: block;
  padding-top: 3px;
  height: 35px;
  position: absolute;
  right: 0;
}

.csi_row span {
  position: absolute;
}

.csi_one {
  padding-top: 3px;
}

.csi_two {
  position: absolute;
  left: 0;
}

.csi_three {
  position: absolute;
  left: 100px;
}

.box_list_item {
  display: block;
  min-height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.bli_info {
  display: block;
  min-height: 200px;
}

.remove_load_div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .10);
  z-index: 5;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 50px 0 0 0;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bli_info_price {
  display: block;
  min-height: 50px;
}

.bli_inf_quantity {
  display: block;
  position: relative;
  width: 70px;
  height: 30px;
  border: 2px solid #AEAEAE;
  color: #AEAEAE;
  margin: 10px 10px 10px 0;
  overflow: hidden;
  border-radius: 3px;
  opacity: 0.7;
}

.bli_inf_quantity:hover {
  opacity: 1;
}

.bli_inf_quantity select {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/cart/updownarrow.svg') 96% / 15% no-repeat #fff;
  border: none;
  cursor: pointer;
  padding-left: 5px;
  transition: 0.2s ease-out;
  font-family: azo-sans-web, 'Qanelas';
  opacity: 1;
  font-size: 15px;
}

.bli_inf_quantity select:focus {
  opacity: 1;
}

select::-ms-expand {
  display: none;
  /* remove default arrow on ie10 and ie11 */
}

@media screen and (min-width:0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

.bli_inf_price {
  display: block;
  width: auto;
  height: 30px;
  margin: 10px 0 0 10px;
  padding: 0 2px 2px 4px;
  font-size: 18px;
}

.bli_info_img {
  display: block;
  position: relative;
  min-height: 100px;
  margin-top: 0;
}

.bli_info_img img {
  max-width: 70%;
  height: auto;
  position: relative;
  margin-top: 20px;
  margin-left: 25px;
  cursor: pointer;
}

.bli_info_descr {
  display: block;
  min-height: 150px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}

.bli_info_descr:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 80%;
  /* or 100px */
  border-bottom: 1px solid #B9B9B9;
}

.bil_info_descr_title {
  font-weight: bold;
  min-height: 30px;
  font-size: 16px;
  overflow: hidden;
  padding-left: 10px;
}

.bil_info_descr_txt {
  min-height: 50px;
  padding: 10px;
  font-size: 14px;
}

.bil_info_ships {
  font-style: italic;
  font-size: 14px;
  padding: 0 10px 10px 10px;
}

.bil_info_remove {
  cursor: pointer;
  margin: 0 10px 5px 10px;
  color: #3B40FF;
  font-weight: bold;
  font-size: 14px;
}

.bil_info_remove:hover {
  color: #666AFB;
}

.fs_pw_sect {
  display: block;
  border-radius: 3px;
  height: 80px;
  background-color: #E8E8E8;
  margin: 40px 0 30px 0;
}

.fs_pw_sect span {
  text-align: center;
  padding-top: 10px;
  height: 50px;
  margin-top: 17px;
  font-size: 16px;
}

.fs_pw_sect span:nth-child(1) {
  border-right: 2px solid #787575;
}

.fs_pw_sect span:nth-child(1) i {
  font-size: 18px;
}

.fs_pw_sect span:nth-child(2) i {
  font-size: 18px;
}


/* --------- Checkout box -------- */

.cart_checkout_box {
  display: block;
  border-radius: 3px;
  min-height: 220px;
  background-color: #E8E8E8;
  overflow: hidden;
}

.cart_checkout_subtotal {
  font-size: 18px;
  padding: 10px 10px 15px 10px;
  font-weight: bold;
}

.checkout_shipto_txt {
  height: 40px;
  border-top: 1px solid #959595;
  padding-top: 5px;
  font-weight: bold;
  color: #696868;
  text-align: center;
}

.checkout_country {
  display: block;
  position: relative;
  border: 2px solid #AEAEAE;
  width: 200px;
  height: 33px;
  border-radius: 3px;
  opacity: 0.8;
  transition: 0.1s ease-out;
}

.checkout_country:hover {
  opacity: 1;
  border: 2px solid #8B8B8B;
}

.checkout_country select {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/cart/updownarrow.svg') 96% / 6% no-repeat #EAEAEA;
  cursor: pointer;
  padding-left: 5px;
  font-size: 15px;
}

.checkout_country select option {
  font-size: 13px;
}

.checkout_button_div {
  display: block;
  position: relative;
  min-height: 110px;
  margin-top: 20px;
  padding: 20px;
  background-color: #D8D8D8;
}

.checkout_button {
  display: block;
  height: 40px;
  width: 250px;
  cursor: pointer;
  font-weight: bold;
  background-color: #4160FB;
  margin-top: 10px;
  padding-top: 8px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 500ms, border-color 500ms, opacity 500ms;
  @include disable-select;
}

.checkout_button:hover {
  background-color: #2044F8;
  text-decoration: none;
  color: #fff;
}

