

@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

@media screen and (max-width:700px) {
	#nav_hamb {
		display: inline-block !important;
	}
	.nav_center_menu {
		display: none !important;
	}
	.nav_l_side {
		display: none !important;
	}
	.nav_c_side {
		margin-left: 10px !important;
	}
	.nav_r_side {
		margin-left: 8px !important;
	}
	.nav_right_side {
		padding-left: 30px !important;
		width: 170px !important;
	}
	.nav_user_display {
		display: none !important;
	}
	.user_slide_menu {
		display: none !important;
	}
}

.header_container {
	display: block;
	position: relative;
	height: 200px;
	z-index: 1001;
	box-shadow: 0 0 3px 0 #000;
	background: linear-gradient(to bottom, #252932 10%, #000 90%);
	overflow-x: hidden;
}

.head_lap_txt {
	position: absolute;
	bottom: 0;
	height: 300px;
	font-family: 'Orbitron', sans-serif;
	display: block;
}

.head_txt_innovation {
	margin-top: 180px;
	font-size: 25px;
	color: #CECECE;
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 2px 0px gray;
}

.head_txt_technology {
	color: #fff;
	position: relative;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 1px 0px gray;
}

.nav_menu {
	display: block;
	height: 55px;
	background-color: #252932;
	padding-top: 5px;
	font-family: azo-sans-web, 'Qanelas';
	position: fixed;
	z-index: 999;
	box-shadow: 0 0 3px 0 #000;
}

.nav_left_side {
	display: block;
	height: 45px;
	width: 45px;
	cursor: pointer;
	top: 5px;
	position: absolute;
	color: #D2D2D2;
	margin-left: 20px;
	@include disable-select;
	background-image: url('../images/header/tv_icon.jpg');
	background-size: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
}

.nav_l_side {
	display: inline-block;
	position: relative;
	height: 28px;
	width: 150px;
	margin-right: 5px;
	border: 2px solid #EBEBEB;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding-top: 1px;
	transition: 0.2s ease-out;
	cursor: pointer;
	border-radius: 4px;
	@include disable-select;
	margin-top: 3px;
	color: #fff;
}

.nav_l_side:hover {
	background-color: #fff;
	color: #000;
}

.nav_l_side {
	color: inherit;
	text-decoration: none;
}

.nav_l_side:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.signinup_accessed {
	display: none;
}

.nav_center_menu {
	display: inline-block;
	height: 40px;
	width: auto;
	color: #fff;
	position: absolute;
	left: 90px;
	bottom: -4px;
}

.nav_center_menu span {
	display: inline-block;
	position: relative;
	color: #CECECE;
	font-weight: bold;
	font-size: 13px;
	height: 90%;
	min-width: 100px;
	transition: 0.2s ease-out;
	text-transform: uppercase;
	margin-left: 10px;
	padding-top: 9px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
	cursor: pointer;
	@include disable-select;
}

.nav_center_menu span:hover {
	color: #000;
	background-color: #fff;
}

.nav_active {
	color: #000 !important;
	background-color: #fff;
}

.nav_right_side {
	display: inline-block;
	height: 45px;
	width: 312px;
	position: relative;
	margin-right: 5px;
	color: #EBEBEB;
	padding: 7px 0 0 80px;
	overflow: hidden;
}

.nav_c_side {
	position: relative;
	display: inline-block;
	font-size: 25px;
	margin: -1px 0 0 5px;
	color: #fff;
	height: 34px;
	opacity: 0;
	transition: 0.2s;
	@include disable-select;
}

.nav_c_side:active {
	transform: scale(1.1);
}

.nav_c_side .fa_heart_wishlist {
	cursor: pointer;
	z-index: 1;
	transition: 0.2s;
}

.nav_c_side .fa_heart_wishlist:hover {
	opacity: 0.9;
}

.fa_heart_wishlist_anim {
	transform: scale(1.2) !important;
}

.nav_c_side .nav_wishlist_icon_no {
	position: absolute;
	font-weight: bold;
	font-size: 14px;
	left: 8px;
	top: 7px;
	cursor: pointer;
	z-index: 2;
	pointer-events: none;
}

.nav_r_side {
	display: block;
	position: relative;
	margin-left: 10px;
	height: 30px;
	width: 45px;
	opacity: 1;
	padding: 2px;
	@include disable-select;
}

.nav_r_side img {
	width: 28px;
	height: 28px;
	cursor: pointer;
	transition: 0.2s;
}

.nav_r_side img:active {
	transform: scale(1.1);
	z-index: 2;
}

.nav_r_side img:active .nav_cart_no {
	z-index: 1;
}

.nav_r_side:hover {
	opacity: 0.9;
}

.nav_cart_no {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 22px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	background-color: #FF3A3A;
	color: #fff;
	border-radius: 50%;
}

.nav_cart_no:hover {
	text-decoration: none;
	color: #fff;
}

#nav_hamb {
	width: 24.5px;
	height: 25px;
	position: relative;
	display: none;
	margin: 5px 0 0 15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav_hamb span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #EBEBEB;
	border-radius: 9px;
	opacity: 1;
	margin-top: 3px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


/* Icon 4 */

#nav-icon4 {}

#nav_hamb span:nth-child(1) {
	top: 0;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav_hamb span:nth-child(2) {
	top: 7px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav_hamb span:nth-child(3) {
	top: 14.2px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav_hamb.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 0;
}

#nav_hamb.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#nav_hamb.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 17px;
	left: 0;
}


/* Mobile nav menu */

.nav_mobile_menu {
	display: block;
	position: fixed;
	top: 50px;
	height: 0;
	z-index: 100;
	background-color: #fff;
	transition: 0.3s ease-out;
	overflow: hidden;
}

.nav_mobile_menu_open {
	height: 700px;
	padding-top: 20px;
}

.nav_mobile_menu .mob_nav_link {
	height: 60px;
	width: 94%;
	margin-top: 3px;
	border-bottom: 1px solid #B4B1B1;
	padding-top: 12px;
	padding-left: 10px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	transition: 0.4s;
	cursor: pointer;
}

.nav_mobile_menu .mob_nav_link:hover {
	color: #5D5D5D;
	padding-left: 13px;
}

.mob_nav_logsign {
	height: 50px;
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #000;
	text-align: center;
	padding-top: 12px;
	color: #565656;
	font-weight: bold;
	transition: 0.4s ease-out;
	border-radius: 4px;
}

.mob_nav_logsign:hover {
	text-decoration: none;
	color: #fff;
	background-color: #000;
}

.mob_nav_logsign:active {
	box-shadow: 0 0 3px 0 #000;
}

.nav_mobile_menu_user {
	position: relative;
	display: block;
	font-family: azo-sans-web, 'Qanelas';
	width: 94%;
	min-height: 30px;
	padding: 10px 0 0 0px;
	overflow: hidden;
}

.nb_user_name_div {
	font-weight: bold;
	cursor: pointer;
	margin-top: 10px;
	@include disable-select;
}

.nb_user_name_div i {
	font-size: 22px;
	margin-right: 8px;
	color: #476DF9;
}

.nb_user_name_div i:nth-child(1) {
	color: #000;
	font-size: 18px;
}

.nb_u_name_arr {
	transform: rotate(180deg);
	transition: 0.4s;
}

.nb_user_name_txt {
	cursor: pointer;
	font-size: 18px;
}

.nb_mobile_slide {
	display: block;
	width: 94%;
	height: 0;
	overflow: hidden;
	margin-top: 5px;
	transition: 0.3s ease-out;
}

.nb_m_s_open {
	height: 120px !important;
	border-top: 1px solid #DFDFDF;
}

.nb_mobile_s_mycart,
.nb_mobile_s_logout {
	position: relative;
	padding: 5px 0 0 15px;
	width: 94%;
	height: 40px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.2s;
	color: #000;
}

.nb_mobile_s_mycart {
	border-bottom: 1px solid #DFDFDF;
}

.nb_mobile_s_mycart:hover,
.nb_mobile_s_logout:hover {
	color: #476DF9;
	text-decoration: none;
}

.nb_mobile_s_mycart:hover i,
.nb_mobile_s_logout:hover i {
	color: #000;
}

.nb_mobile_s_mycart i,
.nb_mobile_s_logout i {
	color: rgb(121, 121, 121);
	margin-right: 8px;
}

.nb_mobile_s_email {
	padding: 3px 0 0 16px;
	width: 94%;
	height: 40px;
	font-size: 16px;
	color: rgb(121, 121, 121);
}


/* -------- Header Signed In -------- */

.nav_user_display {
	display: inline-block;
	position: relative;
	height: 28px;
	width: 100px;
	margin: 2.8px 5px -115px 20px;
	border: 2px solid #EBEBEB;
	text-align: center;
	font-weight: bold;
	padding-top: 1px;
	transition: 0.3s ease-in;
	border-radius: 4px;
	overflow: hidden;
}

.nav_user_display:hover {
	border: 2px solid #D1D1D1;
}

.nav_username {
	height: 28px;
	width: 100%;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top: 5px;
}

.nav_username i {
	font-size: 18px;
	margin-left: 5px;
}

.nav_username span {
	display: block;
	width: 45px;
	cursor: pointer;
}

.nav_username span:hover {
	color: #476DF9;
}

.nav_username i:nth-child(2) {
	margin-left: 5px;
	font-size: 12px;
	margin-top: 7px;
}

.nav_username i:nth-child(2):hover {
	color: #476DF9;
}


/* ------ User slide menu ------ */

.user_slide_menu {
	display: block;
	position: fixed;
	width: 205px;
	min-height: 130px;
	right: 114px;
	top: 50px;
	z-index: 999;
	font-family: azo-sans-web, 'Qanelas';
}

.nav_user_menu {
	display: block;
	position: relative;
	width: 200px;
	min-height: 50px;
	background-color: #f2f2f2;
	margin-top: 20px;
	padding: 10px 0 10px 0;
	box-shadow: 0 0 2px 0 #A4A4A4;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
 
}

.nav_user_menu:after {
	content: '';
	position: absolute;
	top: 8.5px;
	left: 53.5%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-bottom-color: #f2f2f2;
	border-top: 0;
	margin-left: 30px;
	margin-top: -20px;
}

.nav_user_menu_username,
.nav_user_menu_email {
	display: block;
	overflow: hidden;
	width: 190px;
	padding: 6px 5px 0 10px;
}

.nav_user_menu_username .user_i_icon {
	color: #476DF9;
	margin-right: 5px;	
}

.nav_user_menu_email {
	margin-bottom: 11px;
	font-size: 14px;
	border-bottom: 1px solid #D7D7D7;
	padding: 6px 0 10px 10px;
}

.nav_user_menu a {
	display: block;
	width: 190px;
	height: 40px;
	padding: 6px 0 0 10px;
	color: #000;
	text-decoration: none;

}

.nav_user_menu .user_menu_mycart {
	border-bottom: 1.5px solid #B3B3B3;
}



.user_menu_mycart:hover,
.user_menu_logout:hover {
	color: #476DF9;
	background-color: #fff;
}


.user_menu_mycart:hover i,
.user_menu_logout:hover i {
	color: #656565;
}

.user_menu_mycart i,
.user_menu_logout i {
	color: #797979;
	margin-right: 10px;
}




.user_menu_logout {
	display: block;
	width: 190px;
	height: 40px;
	padding: 6px 0 0 10px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


