

@mixin disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

@media screen and (max-width: 500px) {
	.signin_input {
		width: 300px !important;
	}
	.signin_button {
		width: 300px !important;
	}
	.signup_section_wrap {
		width: 300px !important;
	}
	.signup_input {
		width: 300px !important;
	}
	.signup_button {
		width: 300px !important;
	}
	.forgotpass_input {
		width: 300px !important;
	}
	.forgotpass_button,
	.forgotpass_cancel_button {
		width: 280px !important;
	}
	.signup_username_error,
	.signup_fullname_error,
	.signup_email_error,
	.signup_password_error,
	.signup_email_alreadyinuse {
		font-size: 13px !important;
	}
}

.preload_sign_div {
	display: block;
	position: absolute;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
	top: 0;
	left: 0;
	z-index: 5;
	opacity: 0.8;
}

.preloadsign_eff {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin-top: 130px;
}

.preloadsign_eff div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: preloadsign_eff_ef 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #F1F1F1 transparent transparent transparent;
}

.preloadsign_eff div:nth-child(1) {
	animation-delay: -0.45s;
}

.preloadsign_eff div:nth-child(2) {
	animation-delay: -0.3s;
}

.preloadsign_eff div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes preloadsign_eff_ef {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.signinorsignup_container {
	overflow: hidden;
	margin: 0;
	min-height: 500px;
	font-family: azo-sans-web, 'Qanelas';
}

.signin_section {
	display: block;
	position: relative;
	min-height: 500px;
	background-color: #292E38;
	color: #fff;
}

.signin_loading {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 1;
}

.signin_loading_ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	z-index: 2;
	margin-top: 190px;
}

.signin_loading_ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #000;
	z-index: 2;
	border-radius: 50%;
	animation: signin_loading_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}

.signin_loading_ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.signin_loading_ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.signin_loading_ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes signin_loading_ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.signin_section_img {
	position: relative;
	display: block;
	border: 1px solid #fff;
	width: 66px;
	height: 70px;
	margin-top: 30px;
}

.signin_section_img i {
	font-size: 50px;
	padding: 10px;
}

.signin_section_title {
	font-weight: bold;
	margin: 10px 0 20px 0;
	font-size: 23px;
}

.signin_input {
	display: block;
	position: relative;
	width: 400px;
	height: 40px;
	border: 2px solid #818181;
	margin-top: 10px;
	overflow: hidden;
	border-radius: 5px;
}

.signin_input input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	outline: 0;
	color: #3A3A3A;
	font-weight: bold;
}

.signin_button {
	position: relative;
	width: 350px;
	height: 40px;
	margin-top: 20px;
	padding-top: 8px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease-out;
	@include disable-select;
}

.signin_button:hover {
	background-color: #141414;
	color: #fff;
}

.signin_button:active {
	background: linear-gradient(to left, #292929 10%, #000 90%);
}

.forgot_password {
	color: #fff;
	margin-top: 25px;
	border-top: 1px solid #8F8F8F;
	padding-top: 10px;
	cursor: pointer;
}

.forgot_password:hover {
	color: #fff;
	text-decoration: underline;
}


/* Sign up section */

.signup_section {
	position: relative;
	display: block;
	min-height: 500px;
	background-color: #fff;
}

.signup_loading {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	left: 0;
	top: 0;
	border: solid red;
	z-index: 1;
}

.signup_loading_ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	z-index: 2;
	margin-top: 190px;
}

.signup_loading_ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #000;
	z-index: 2;
	border-radius: 50%;
	animation: signup_loading_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}

.signup_loading_ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.signup_loading_ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.signup_loading_ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes signup_loading_ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.signup_username_title,
.signup_fullname_title,
.signup_email_title,
.signup_password_title {
	font-weight: bold;
	margin: 10px 0 0 16px;
	position: relative;
	color: #383838;
	cursor: pointer;
}

.signup_password_title i {
	margin-left: 7px;
	font-size: 18px;
}

.signup_section_wrap {
	display: block;
	position: relative;
	min-height: auto;
	width: 400px;
	margin-top: 100px;
	overflow: hidden;
}

.signup_input {
	display: block;
	position: relative;
	width: 400px;
	height: 40px;
	border: 2px solid #818181;
	margin-top: 3px;
	overflow: hidden;
	border-radius: 5px;
}

.signup_input input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	outline: 0;
	color: #3A3A3A;
	font-weight: bold;
}

.signup_title {
	position: absolute;
	left: 20px;
	top: 20px;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	color: #383838;
}

.signup_terms {
	border-top: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	height: 65px;
	width: auto;
	position: relative;
	margin: 30px;
	padding: 20px 5px 20px 5px;
	font-size: 14px;
}

.signup_terms span {
	color: #237AFD;
	cursor: pointer;
}

.signup_terms span:hover {
	text-decoration: underline;
}

.signup_button {
	position: relative;
	width: 350px;
	height: 40px;
	padding-top: 5.5px;
	margin-bottom: 60px;
	font-weight: bold;
	border: 2px solid #000;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s ease-out;
	color: #fff;
	background-color: #000;
	@include disable-select;
}

.signup_button:active {
	background: linear-gradient(to left, #292929 10%, #000 90%);
}

.signup_button:hover {
	background-color: #141414;
}

.signup_username_error,
.signup_fullname_error,
.signup_email_error,
.signup_password_error,
.signup_email_alreadyinuse {
	margin: 5px 5px 5px 18px;
	display: none;
	color: #FF3636;
	font-size: 14px;
	width: 395px;
}


/* Sign in section */

.signin_invalidemail_msg,
.signin_wrongemail_msg,
.signin_enterEmail_msg {
	color: #FF3636;
	font-size: 14px;
	margin-top: 5px;
	display: none;
}

// Forgot password
.signin_forgotpassword_div {
	display: block;
	height: 0;
	position: absolute;
	background-color: #292E38;
	color: #fff;
	z-index: 22;
	overflow: hidden;
}

.forgotpass_title {
	position: relative;
	margin: 50px 0 10px 0;
	font-size: 25px;
	font-weight: bold;
}

.forgotpass_subtitle {
	position: relative;
	margin: 0 10px 10px 10px;
}

.forgotpass_input {
	width: 350px;
	height: 45px;
	position: relative;
	border: 2px solid #818181;
	overflow: hidden;
	border-radius: 5px;
	background-color: #fff;
}

.forgotpass_input input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.forgotpass_button {
	width: 320px;
	height: 40px;
	font-weight: bold;
	padding-top: 5px;
	border-radius: 5px;
	display: block;
	position: relative;
	border: 2px solid #818181;
	cursor: pointer;
	margin: 15px 5px 10px 5px;
	text-align: center;
	transition: 0.3s ease-out;
}

.forgotpass_button:hover {
	color: #fff;
	background-color: #000;
	border: 2px solid #000;
}

.forgotpass_cancel_button {
	width: 320px;
	height: 40px;
	font-weight: bold;
	padding-top: 5px;
	border-radius: 5px;
	display: block;
	position: relative;
	border: 2px solid #818181;
	cursor: pointer;
	opacity: 0.9;
	margin: 0px 5px 10px 5px;
	text-align: center;
	transition: 0.3s ease-out;
}

.forgotpass_cancel_button:hover {
	color: #fff;
	background-color: #000;
	border: 2px solid #000;
	opacity: 1;
}

.forgotpass_invalidemail,
.forgotpass_emailnotfound {
	margin: 5px;
	display: none;
	color: #FF3636;
	font-size: 14px;
}


/* Forgotpass email sent div */

.forgotpass_emailsent_div {
	display: none;
	border: solid green;
	height: 100%;
	position: absolute;
	background-color: #303646;
	z-index: 23;
	overflow: hidden;
}

.forgotpass_emsent_txt {
	position: relative;
	margin: 100px 10px 20px 10px;
	font-size: 22px;
	width: 80%;
	text-align: center;
}

.forgotpass_emailsent_img {
	position: relative;
	display: block;
	border: 1px solid #fff;
	width: 75px;
	height: 70px;
	margin-top: 30px;
	padding: 10px;
}

.forgotpass_emailsent_img i {
	font-size: 50px;
}

.forgotpass_emsent_txt span {
	font-weight: bold;
	margin-right: 5px;
}

.forgotpass_subtxt {
	text-align: center;
	width: 60%;
}

.forgotpass_subtxt span {
	color: #3A82FA;
	cursor: pointer;
	transition: 0.2s;
	position: relative;
	margin-left: 3px;
}

.forgotpass_subtxt span:hover {
	color: #2E64BF;
	text-decoration: underline;
}

.forgotpass_emailsent_back {
	width: 320px;
	height: 40px;
	font-weight: bold;
	padding-top: 5px;
	border-radius: 5px;
	display: block;
	position: relative;
	border: 2px solid #818181;
	cursor: pointer;
	opacity: 0.8;
	margin: 25px 5px 10px 5px;
	text-align: center;
	transition: 0.3s ease-out;
}

.forgotpass_emailsent_back:hover {
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
	opacity: 0.9;
}

