

$graytxt: #686868;
$hrline: #D4D4D4;
@mixin disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 400px) {
  /* Full image container */
  .prod_fullimg_span img {
    width: 80% !important;
    height: 85% !important;
  }
}

@media screen and (max-width: 500px) {
  .wid_first_img {
    width: 300px !important;
    height: 280px !important;
  }
  .wid_viewmore_div {
    width: 280px !important;
  }
}

.wrap_item_det {
  background-color: #D9D9D9;
}

.item_details_div {
  position: relative;
  background-color: #fff;
  min-height: 600px;
  padding: 25px;
  margin: 20px 0 45px 0;
  font-family: azo-sans-web, 'Qanelas';
}


/* --- Zoom product images div --- */

.product_zoomimg_div {
  position: absolute;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1000;
  margin-top: -25px;
  border: 1px solid green;
}

.prod_zoom_closediv {
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

.prod_zoom_closediv:hover {
  color: #4B4B4B;
}

.product_zoomimg_wrap {
  display: block;
  position: relative;
  min-height: 530px;
  margin-top: 80px;
  padding: 20px;
  box-shadow: 1px 0 5px 0 #000;
  background-color: #fff;
}

.prod_fullimg_span {
  display: block;
  position: relative;
  height: 400px;
  width: 450px;
  margin-top: 35px;
  border-bottom: 1px solid $hrline;
}

.prod_fullimg_span img {
  position: absolute;
  width: 95%;
  height: 95%;
}

.product_zoomimg_gallery {
  display: inline-block;
  height: 60px;
  width: 300px;
  margin-top: 15px;
  border: 1px solid $hrline;
  border-radius: 4px;
  padding-top: 2px;
}

.product_zoomimg_gallery img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}

.prod_zoomgal_high {
  border: 1px solid $hrline;
}


/* --- Check product valability div --- */

.check_valab_div {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  left: 0;
  top: 0;
  z-index: 1000;
}

.check_valab_wrap {
  display: block;
  position: relative;
  min-height: 440px;
  background-color: #fff;
  margin-top: 120px;
  padding-bottom: 20px;
  box-shadow: 0 0 3px 0 #000;
}

.close_checkval_div {
  position: absolute;
  right: 10px;
  top: 10px;
}

.close_checkval_div i {
  font-size: 20px;
  cursor: pointer;
  color: #454545;
  transition: 0.2s;
}

.close_checkval_div i:hover {
  color: #000;
}

.close_checkval_div i:active {
  transform: scale(1.08);
}

.checkval_title {
  font-weight: bold;
  position: relative;
  font-size: 25px;
  margin-top: 25px;
}

.checkval_input_div {
  position: relative;
  padding: 0 25px 0 25px;
  margin-top: 15px;
  min-height: 100px;
}

.checkval_input_div span:nth-child(1) {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  color: $graytxt;
}

.checkval_input_wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 37px;
  border: 2px solid $graytxt;
  margin-top: 5px !important;
  border-radius: 5px;
}

.chinput_search_icon {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 30px;
  text-align: center;
}

.chinput_search_icon i {
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  color: #476DF9;
}

.chinput_search_icon i:hover {
  opacity: 0.85;
}

.checkval_input_wrap input {
  display: inline-block;
  position: relative;
  height: 37px;
  width: 230px;
  border: 0;
  font-size: 14px;
  padding-left: 8px;
  vertical-align: middle;
}

.wrap_valability_map {
  display: block;
  position: relative;
  min-height: 300px;
  border-top: 1px solid gray;
}

.check_val_cont {
  display: inline-block;
  position: relative;
}

.cval_dot_instock,
.cval_dot_notinstock {
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0 0 10px;
  color: $graytxt;
  vertical-align: middle;
}

.cval_dot_instock span {
  background-color: #2BB94C;
}

.cval_dot_notinstock span {
  background-color: #E53333;
}

.cval_dot_instock span,
.cval_dot_notinstock span {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 1px 0 3px 0 #B4B4B4;
}

#map {
  display: block;
  margin-top: 10px;
  height: 280px;
}

.wrap_idd_nav {
  border-bottom: 1px solid $hrline;
  padding-bottom: 10px;
}

.idd_nav {
  display: inline-block;
  position: relative;
  min-width: 200px;
  margin-top: 10px;
  padding: 5px;
}

.idd_nav span:nth-child(1) {
  color: #476DF9;
  cursor: pointer;
  margin-right: 5px;
}

.idd_nav span:nth-child(2) {
  font-weight: bold;
  font-size: 13px;
  color: $graytxt;
}

.idd_share {
  display: inline-block;
  min-height: 30px;
  min-width: 70px;
  margin: 15px 15px 0 0;
  font-size: 16px;
}

.idd_fb {
  color: #175397;
  margin: 0 13px 0 0px;
  font-size: 18px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  transition: 0.2s;
}

.idd_twitt {
  color: #5b97de;
  font-size: 19px;
  cursor: pointer;
  width: 20px;
  padding-top: 1.5px;
  text-align: center;
  transition: 0.2s;
}

.idd_fb:active,
.idd_twitt:active {
  transform: scale(1.03);
}

.idd_fb:hover,
.idd_twitt:hover {
  opacity: 0.9;
}

.idd_nav_goback {
  display: inline-block;
  height: 22px;
  margin: 15px 0 0 8px;
}

.idd_nav_goback i {
  vertical-align: middle;
  margin-right: 5px;
  color: #686868;
}

.idd_nav_goback span {
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  color: #476DF9;
  border: 1px solid #D4D4D4;
  padding: 6px;
  border-left: none;
}

.idd_nav_goback span:hover {
  color: #3F5ED0;
}

.wrap_item_details {
  display: block;
  min-height: 530px;
  background-color: #fff;
  margin-top: 20px;
}

.wid_first,
.wid_sec {
  min-height: 525px;
}

.wid_first_col,
.wid_sec_col {
  display: block;
  min-height: 470px;
  overflow: hidden;
}

.wid_first_img {
  width: 330px;
  height: 310px;
  margin: 20px;
}

.wid_first_img:hover {
  cursor: zoom-in;
}

.wid_viewmore_div {
  display: inline-block;
  margin-top: 30px;
  padding-top: 4px;
  height: 65px;
  width: 350px;
  border: 1px solid #B4B4B4;
  border-radius: 4px;
}

.wid_viewmore_div img {
  width: 55px;
  height: 55px;
  margin-left: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 3px;
}

.wid_vm_active {
  border: 1px solid #B4B4B4 !important;
}


/* Wid sec details div */

.wid_sec_col {
  padding-top: 10px;
}

.wid_sec_title {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.wid_sec_subtitle {
  font-weight: bold;
  font-size: 16px;
  margin-left: 0;
  color: $graytxt;
}

.wid_sec_brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.wid_sec_rating {
  display: block;
  height: 40px;
  unicode-bidi: bidi-override;
  color: #ccc;
  left: 0;
  margin-top: 5px;
  font-size: 24px;
  position: absolute;
  cursor: default;
}

.wid_sec_rating span {
  display: inline-block;
}

.fill_ratings_wid {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.empty_ratings_wid {
  padding: 0;
  display: block;
  z-index: 0;
}

.wid_sec_rat_no {
  cursor: default;
  left: 120px;
  margin-top: 10px;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
}

.wid_write_a_review {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 130px;
  font-size: 15px;
  margin: 40px 0 0 2px;
}

.wid_write_a_review i {
  color: #476DF9;
  margin-right: 5px;
  font-size: 16px;
  transform: rotateY(180deg);
}

.wid_writerev_txt span {
  color: $graytxt;
  cursor: pointer;
  transition: 0.2s;
}

.wid_writerev_txt span:hover {
  color: #476DF9;
}

.wid_sec_descr {
  display: block;
  min-height: 130px;
  padding: 0px;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  color: $graytxt;
}

.wid_viewmoreinfo {
  display: inline-block;
  margin: 10px 0 0 10px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
  cursor: pointer;
}

.wid_viewmoreinfo:hover {
  color: #476DF9;
}

.wid_viewmoreinfo i {
  color: #476DF9;
  margin-right: 5px;
  font-size: 16px;
}

.wid_mightbeinterested {
  min-height: 130px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.wid_mbi_box {
  display: block;
  min-height: 63px;
  position: relative;
  padding-top: 10px;
}

.wid_mightbeinttxt {
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}

.wid_mbibox_img,
.wid_mbibox_descr,
.wid_mbibox_button {
  min-height: 63px;
  overflow: hidden;
}

.wid_mbibox_img {
  padding-top: 5px;
}

.wid_mbibox_descr {
  font-size: 13px;
  white-space: pre-wrap;
  font-weight: bold;
  color: $graytxt;
  width: 330px;
}

.wid_mbibox_img img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.wid_mbiboxbutton {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 $graytxt;
  margin-top: 13px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  color: #476DF9;
  transition: 0.3s;
}

.wid_mbiboxbutton:active {
  background-color: #476DF9;
  border: 2px solid #476DF9;
  color: #000;
}

.wid_mbi_remove_button {
  color: #FF3A3A !important;
  font-size: 18px !important;
  border: 1px solid #FF3A3A !important;
}

.wid_mbi_remove_button:hover {
  box-shadow: 0 0 5px 0 #FF3A3A;
  color: #000 !important;
}


/* Wid sec price section */

.wrap_wid_sec {
  display: block;
  min-height: 400px;
  border: 1px solid #DADADA;
  background-color: #f7f7f7;
  padding-top: 30px;
}

.wid_sec_oldprice {
  text-decoration-line: line-through;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #FF3B3B;
}

.wid_disc_perc {
  margin-right: 20px;
  font-size: 18px;
  border-bottom: 1px solid #DADADA;
  padding: 0 0 5px 20px;
  color: #007600;
}

.wid_tagleft {
  position: absolute;
  left: -5.5px;
  width: 70px;
  height: 25px;
  border: 1px solid #FF3A3A;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #FF3A3A;
  padding-left: 5px;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.wid_tagleft:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-color: transparent #FF3A3A transparent transparent;
  position: absolute;
  left: -0.9px;
  bottom: -5.5px;
}

.wid_offer {
  top: 40px;
}

.wid_sec_price {
  font-size: 45px;
  font-weight: bold;
  margin-right: 20px;
  text-shadow: 1px 1px #000;
}

.wid_sec_instock {
  margin-right: 20px;
  font-weight: bold;
  color: #007600;
  font-size: 18px;
}

.wid_sec_deliverytime {
  margin-right: 20px;
}

.wid_sec_deliverytime i {
  color: #476DF9;
  margin-right: 5px;
}

.addtocart_row {
  border-top: 1px solid #DADADA;
  margin-top: 20px;
}

.wid_addtocart_button {
  position: relative;
  display: block;
  height: 38px;
  color: #fff;
  background-color: #476DF9;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.1s;
  box-shadow: 0 0 2px 0 #000;
  @include disable-select;
}

.wid_addtocart_button:hover {
  background-color: rgba(72, 110, 249, 0.95);
  box-shadow: 0 1px 3px 0 #000;
}

.wid_addtocart_button i {
  color: #000;
  margin-right: 6px;
  margin-left: -17px;
  transition: 0.1s;
}

.wid_removefromcart_button {
  position: relative;
  display: block;
  height: 38px;
  color: #fff;
  background-color: #FF3A3A;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.1s;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 #000;
  @include disable-select;
}

.wid_removefromcart_button:hover {
  background-color: #FB3737;
  box-shadow: 0 1px 3px 0 #000;
}

.wid_addtowish_button {
  position: relative;
  display: block;
  height: 38px;
  color: #fff;
  background-color: inherit;
  border: 2px solid #000;
  color: #000;
  margin-top: 10px;
  text-align: center;
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.1s;
  box-shadow: 0 0 2px 0 #000;
  @include disable-select;
}

.wid_addtowish_button:hover {
  box-shadow: 0 1px 3px 0 #000;
}

.wid_addtowish_button .addtowish_f_heart {
  font-size: 19px;
  margin-right: 5px;
  transition: 0.1s;
}

.wid_addtowish_button:hover .addtowish_f_heart {
  color: #FB3737;
}

.addtowish_button_active {
  pointer-events: none !important;
  opacity: 0.8 !important;
}

.addtowish_s_heart {
  position: absolute;
  font-size: 19px;
  left: 90px;
  z-index: 10;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 1.5s ease-out;
  color: #FB3737;
}

.addedwish_heart_cls {
  animation: added_wl_heart 1.5s ease-out;
}

@keyframes added_wl_heart {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -150px;
    opacity: 0;
  }
}

.wid_checkval_button {
  position: relative;
  display: inline-block;
  height: 38px;
  color: #fff;
  background-color: #000;
  margin: 10px 0 20px 0;
  text-align: center;
  transition: 0.1s;
  padding-top: 6px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  @include disable-select;
}

.wid_checkval_button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}


/* -- See more info -- */

.wid_wrap_moreinfo {
  display: block;
  min-height: 300px;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid $hrline;
}

.widwrap_descr_rating_div {
  display: inline-block;
  height: 43px;
}

.wid_descr_button,
.wid_reviews_button {
  display: block;
  border: 2px solid $graytxt;
  height: 35px;
  width: 100px;
  text-align: center;
  padding: 4px;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 10px;
  transition: 0.2s;
  font-weight: bold;
  color: $graytxt;
  cursor: pointer;
  @include disable-select;
}

.wid_descr_button:hover,
.wid_reviews_button:hover {
  box-shadow: 0 0 2px 0 #000;
}

.wid_descr_button:active,
.wid_reviews_button:active {
  color: #476DF9;
  background-color: #fff;
  box-shadow: 0 0 4px 0 #000;
}

.wid_moreinfo_fwrap {
  display: block;
  position: relative;
  min-height: 200px;
  padding-top: 20px;
  background-color: #fff;
}

.row_product_info {
  display: inline-block;
  min-height: 20px;
  padding-bottom: 20px;
}

.wid_rate_descr {
  margin-top: -8px !important;
}

.mi_prod_title {
  position: relative;
  display: inline-block;
  height: auto;
  width: 40%;
  margin-top: 8px;
  font-weight: bold;
  padding-left: 8px;
  font-size: 15px;
}

@media screen and (max-width: 1350px) {
  .mi_prod_title {
    width: 100% !important;
  }
  .mi_prod_descr {
    width: 100% !important;
  }
}

.mi_prod_descr {
  position: relative;
  display: inline-block;
  height: auto;
  width: 60%;
  margin-top: 8px;
  padding-left: 8px;
  background-color: #f7f7f7;
  font-size: 15px;
  white-space: pre-wrap;
}

.mi_h_title {
  color: $graytxt;
  margin: 25px 0 0 0;
  font-size: 15px;
}

.row_review_info {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 200px;
  position: relative;
  padding: 20px;
}

.r_review_title {
  font-weight: bold;
  font-size: 20px;
}

.r_review_name,
.r_review_titlereview,
.r_review_ratereview,
.r_review_titlereviewcomm,
.r_review_titleconclusion,
.r_review_titleleaveemail {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.r_review_name span,
.r_review_titlereview span,
.r_review_ratereview span,
.r_review_titlereviewcomm span,
.r_review_titleconclusion span,
.r_review_titleleaveemail span {
  color: red;
  font-size: 13px;
}

.r_review_name_subtitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: $graytxt;
}

.r_review_inputspan {
  position: relative;
  width: 450px;
  height: 35px;
  border: 1px solid $hrline;
}

.r_review_inputspan input {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}

.rating_fieldset {
  border: none;
  float: left;
}

.rating_fieldset>input {
  display: none;
}

.rating_fieldset>label:before {
  margin: 5px;
  cursor: pointer;
  font-size: 1.45em;
  font-family: 'fontawesome-webfont';
  display: inline-block;
  content: "\2606";
}

.rating_fieldset>.half:before {
  content: "\2605";
  position: absolute;
}

.rating_fieldset>label {
  color: #B9B8B8;
  float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating_fieldset>input:checked~label,

/* show gold star when clicked */

.rating_fieldset:not(:checked)>label:hover,

/* hover current star */

.rating_fieldset:not(:checked)>label:hover~label {
  color: #FFD700;
}


/* hover previous stars in list */

.rating_fieldset>input:checked+label:hover,

/* hover current star when changing rating */

.rating_fieldset>input:checked~label:hover,
.rating_fieldset>label:hover~input:checked~label,

/* lighten current selection */

.rating_fieldset>input:checked~label:hover~label {
  color: #FFED85;
}

.r_review_hovertxt {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.r_review_titlereviewcomm {
  margin-top: 5px;
}

.r_rev_in_txtarea {
  height: 100px;
}

.r_rev_in_txtarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

.r_review_conc_div {
  display: block;
  height: 60px;
  width: auto;
  padding: 5px;
  overflow: hidden;
}

.r_review_conc_div ul {
  padding-left: 25px;
  list-style-type: none;
  color: #5C5C5C;
}

.r_review_conc_div ul input {
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
}

.r_review_conc_div label {
  font-weight: bold;
  cursor: pointer;
}

.review_submit_button {
  display: block;
  width: 200px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  border: solid transparent;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
  padding-top: 5.5px;
  border-radius: 4px;
  transition: 0.3s;
  @include disable-select;
}

.review_submit_button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}

.review_submit_button:active {
  box-shadow: 0 0 3px 0 #000;
  transform: scale(1.01);
}

.review_input_msgErr {
  display: none;
  color: #FF5B5B;
  font-weight: bold;
  font-size: 13px;
  margin-left: 5px;
  font-style: italic;
}

.r_submit_confirmmsg {
  padding: 5px;
  font-weight: bold;
  color: #327F43;
}

.review_load_div {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .1);
}

.rev_loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 300px;
}

.rev_loader div {
  animation: rev_loader_ef 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.rev_loader div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #476DF9;
  margin: -4px 0 0 -4px;
}

.rev_loader div:nth-child(1) {
  animation-delay: -0.036s;
}

.rev_loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.rev_loader div:nth-child(2) {
  animation-delay: -0.072s;
}

.rev_loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.rev_loader div:nth-child(3) {
  animation-delay: -0.108s;
}

.rev_loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.rev_loader div:nth-child(4) {
  animation-delay: -0.144s;
}

.rev_loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.rev_loader div:nth-child(5) {
  animation-delay: -0.18s;
}

.rev_loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.rev_loader div:nth-child(6) {
  animation-delay: -0.216s;
}

.rev_loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.rev_loader div:nth-child(7) {
  animation-delay: -0.252s;
}

.rev_loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.rev_loader div:nth-child(8) {
  animation-delay: -0.288s;
}

.rev_loader div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes rev_loader_ef {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* -- Review container -- */

.review_comments_div {
  display: block;
  position: relative;
  min-height: 300px;
  border-top: 1px solid $hrline;
  margin: 60px 0 20px 0;
}

.r_rev_customerrev_title {
  font-weight: bold;
  position: relative;
  font-size: 24px;
  margin-left: 5px;
}

.wrap_rev_ratitle {
  display: inline-block;
  height: 33px;
  width: 120px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.rev_rating_title {
  font-size: 25px !important;
}

.rev_ratitle_revnumber {
  position: absolute;
  left: 135px;
  color: #2E6EFF;
  margin-top: 10px;
  font-size: 15px;
}

.user_review_box {
  position: relative;
  display: block;
  min-height: 100px;
  margin-top: 30px;
}

.user_rev_imgName {
  display: inline-block;
  position: relative;
  height: 30px;
}

.user_rev_imgName i {
  font-size: 25px;
  margin-right: 5px;
  margin-left: 0;
}

.user_rev_name {
  vertical-align: middle;
}

.user_rev_rateTitle {
  display: inline-block;
  height: 30px;
  overflow: hidden;
}

.share {
  display: block;
  width: 25px;
  height: 20px;
  border: 1px solid red;
}

.rev_user_rating {
  display: block;
  height: 30px;
  unicode-bidi: bidi-override;
  color: #ccc;
  left: 5px;
  font-size: 20px;
  position: absolute;
  cursor: default;
}

.rev_user_rating span {
  display: inline-block;
}

.fill_ratings_revuser {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.empty_ratings_revuser {
  padding: 0;
  display: block;
  z-index: 0;
}

.user_rev_title {
  margin: 5px 0 0 100px;
  position: absolute;
  font-weight: bold;
  font-size: 15px;
}

.user_rev_date {
  display: inline-block;
  padding-left: 5px;
  position: relative;
  font-size: 14px;
  width: auto;
  height: auto;
}

.user_rev_date span:nth-child(2) {
  margin-left: 8px;
  border-left: 1px solid #979797;
  padding-left: 8px;
  color: #FFBF37;
  font-weight: bold;
  font-size: 12px;
}

.user_comm_txt {
  display: block;
  position: relative;
  min-height: 100px;
  white-space: pre-wrap;
  padding: 5px;
}

.user_npeople_foundhelpful {
  padding-left: 5px;
  margin-top: 5px;
  color: $graytxt;
}

.rev_user_helpful_butt_div {
  display: inline-block;
  position: relative;
  min-width: 450px;
}

.rev_user_helpful_butt {
  display: inline-block;
  position: relative;
  width: 73px;
  height: auto;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 10px 5px 5px;
  background-color: #476DF9;
  transition: 0.2s;
  font-size: 13px;
  box-shadow: 1px 0 3px 0 $graytxt;
}

.rev_user_helpful_butt:hover {
  color: #fff;
}

.rev_user_helpful_butt i {
  margin-left: 4px;
}

.rev_helpful_msg {
  display: inline-block;
  position: relative;
  color: #28A233;
  margin: 10px 0 5px 8px;
  font-style: italic;
}

.rev_helpful_msg i {
  margin-right: 5px;
}

.rev_user_report_butt {
  display: inline-block;
  position: relative;
  width: 85px;
  height: auto;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 10px 5px 0;
  font-weight: bold;
  transition: 0.2s;
  font-size: 12px;
}

.rev_user_report_butt:hover {
  color: red;
}

.rev_rep_confirm_sec {
  position: relative;
  font-size: 15px;
}

.rev_report_confirm {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0 0 5px 5px;
}

.rev_rep_conf_yes,
.rev_rep_conf_no {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.rev_rep_conf_no:hover,
.rev_rep_conf_yes:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.rev_rep_conf_yes {
  color: #39C146;
}

.rev_rep_conf_no {
  color: #FA3D3D;
}


/* --- No product founded --- */

@media screen and (max-width: 500px) {
  .wid_404_txt_div .wid_44_txtone {
    font-size: 15px !important;
  }
  .wid_44_pnf {
    font-size: 16px !important;
  }
  .wid_404_pnfbigtxt {
    font-size: 30px !important;
    min-height: 100px !important;
  }
  .wid_404_pnfbigtxt_two {
    font-size: 15px !important;
    min-height: 100px !important;
    margin: 0 0 20px 0 !important;
  }
}

@media screen and (max-width: 360px) {
  .wid_404_txt_div .wid_44_txtone {
    font-size: 4vw !important;
  }
  .wid_44_pnf {
    font-size: 3.5vw !important;
  }
  .wid_404_txt_div i {
    font-size: 4vw !important;
  }
}

@media screen and (min-width: 767.5px) and (max-width: 991.5px) {
  .wid_noproduct_err_div {
    border-left: none !important;
    border-right: none !important;
  }
}

.wid_noproduct_err_div {
  display: block;
  min-height: 450px;
  border: 2px solid #D4D4D4;
  margin: 30px 0 30px 0;
  font-size: 35px;
  overflow: hidden;
}

.wid_noprod_err_half {
  display: block;
  min-height: auto;
}

.wid_noprod_err_half img {
  display: block;
  position: relative;
  max-width: 350px;
  max-height: 350px;
  margin-top: 30px;
}

.wid_404_txt_div {
  display: inline-block;
  min-height: 65px;
  margin-top: 20px;
  border: 2px solid #D4D4D4;
  border-left: none;
}

.wid_404_txt_div:after {
  content: '';
  min-height: 65px;
  position: absolute;
  top: -1.5px;
  left: 0;
  width: 7px;
  background-color: rgb(255, 58, 58);
}

.wid_404_txt_div i {
  font-size: 19px;
  color: rgb(255, 58, 58);
}

.wid_404_txt_div .wid_44_txtone {
  font-size: 17px;
  margin-left: 15px;
  font-weight: bold;
}

.wid_44_pnf {
  font-size: 16px;
}

.wid_404_pnfbigtxt {
  display: block;
  min-height: 150px;
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 50px;
}

.wid_404_pnfbigtxt span {
  color: rgb(255, 58, 58);
}

.wid_404_pnfbigtxt_two {
  display: block;
  min-height: 150px;
  padding: 17px;
  margin-top: 20px;
  font-size: 19px;
  text-align: center;
  color: #3E3D3D;
}

.backtohome_404err_butt {
  font-size: 16px;
  width: 250px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  padding-top: 7px;
  margin: 20px;
  cursor: pointer;
  background-color: rgb(255, 58, 58);
  color: #fff;
  box-shadow: 0 0 3px 0 #000;
  transition: 0.2s;
}

.backtohome_404err_butt:hover {
  box-shadow: 0 0 8px 0 #000;
  text-decoration: none;
  color: inherit;
}

.backtohome_404err_butt a {
  text-decoration: none;
  color: inherit;
}

